<a href="https://colab.research.google.com/github/jossanger/deleting-renaming-missing-data/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/jossanger/deleting-renaming-missing-data/main/RailsToTrails_National%20Count%20Data_week.xlsx%20-%20Total%20Count%20data%20(31%20counters).csv')

In [5]:
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,30-Dec,167679,183546,NaN,9%,1.094627,NaN,NaN,NaN
1,Week 2,6-Jan,82340,97140,NaN,18%,117.974253,NaN,NaN,NaN
2,Week 3,13-Jan,62315,75782,NaN,22%,121.611169,NaN,NaN,NaN
3,Week 4,20-Jan,75801,83809,NaN,11%,110.564504,NaN,NaN,NaN
4,Week 5,27-Jan,75841,94738,NaN,25%,124.916602,NaN,NaN,NaN

In [6]:
# Remove unnecessary columns
df = df.drop(columns=['Unnamed: 7'])
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 8,Unnamed: 9
0,Week 1,30-Dec,167679,183546,NaN,9%,1.094627,NaN,NaN
1,Week 2,6-Jan,82340,97140,NaN,18%,117.974253,NaN,NaN
2,Week 3,13-Jan,62315,75782,NaN,22%,121.611169,NaN,NaN
3,Week 4,20-Jan,75801,83809,NaN,11%,110.564504,NaN,NaN
4,Week 5,27-Jan,75841,94738,NaN,25%,124.916602,NaN,NaN

In [7]:
# Remove unnecessary columns
df = df.drop(columns=['Unnamed: 8'])
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 9
0,Week 1,30-Dec,167679,183546,NaN,9%,1.094627,NaN
1,Week 2,6-Jan,82340,97140,NaN,18%,117.974253,NaN
2,Week 3,13-Jan,62315,75782,NaN,22%,121.611169,NaN
3,Week 4,20-Jan,75801,83809,NaN,11%,110.564504,NaN
4,Week 5,27-Jan,75841,94738,NaN,25%,124.916602,NaN

In [8]:
# Remove unnecessary columns
df = df.drop(columns=['Unnamed: 9'])
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,30-Dec,167679,183546,NaN,9%,1.094627
1,Week 2,6-Jan,82340,97140,NaN,18%,117.974253
2,Week 3,13-Jan,62315,75782,NaN,22%,121.611169
3,Week 4,20-Jan,75801,83809,NaN,11%,110.564504
4,Week 5,27-Jan,75841,94738,NaN,25%,124.916602

In [9]:
# DataFrame before renaming columns
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,30-Dec,167679,183546,NaN,9%,1.094627
1,Week 2,6-Jan,82340,97140,NaN,18%,117.974253
2,Week 3,13-Jan,62315,75782,NaN,22%,121.611169
3,Week 4,20-Jan,75801,83809,NaN,11%,110.564504
4,Week 5,27-Jan,75841,94738,NaN,25%,124.916602

In [12]:
# this wont work as there is a space in the column name
df.Unnamed:6

In [13]:
# Approach 1 dictionary subtitution using rename method
df=df.rename(columns={'Unnamed; 6':'percent_change'})
#DataFrame after renaming columns
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,30-Dec,167679,183546,NaN,9%,1.094627
1,Week 2,6-Jan,82340,97140,NaN,18%,117.974253
2,Week 3,13-Jan,62315,75782,NaN,22%,121.611169
3,Week 4,20-Jan,75801,83809,NaN,11%,110.564504
4,Week 5,27-Jan,75841,94738,NaN,25%,124.916602